<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AMICIS</title>
    <link rel="stylesheet" th:href="@{/css/administrador/admi.css}">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700;900&display=swap" rel="stylesheet">
</head>

<body class="dashboard">

<header>
    <div class="dashboard__header">
        <div class="header__logo">Amicis</div>
        <div class="header__admin">
            <p>Bienvenido, <span th:text="${session.usuario.nombreUsuario}"></span>!</p>
        </div>
        <nav>
            <a href="/logout" class="header__session">Cerrar Sesión</a>
        </nav>
    </div>
</header>

<div class="grid">

    <aside class="sidebar">
        <div class="menu" th:replace="~{fragments/nav-admin :: nav-admin}"></div>
    </aside>

    <div class="content__transform">
        <div class="nav_mobile" th:replace="~{fragments/nav-mobile :: nav-mobile}"></div>

        <main class="contenido contenedor-sm ">
            <h2 class="lista">Lista de Tareas</h2>

            <div id="filtros" class="filtros">
                <div class="filtros-inputs">
                    <h2>Filtros:</h2>
                    <div class="campo">
                        <label for="todas">Todas</label>
                        <input type="radio" id="todas" name="filtro" value="" checked>
                    </div>
                    <div class="campo">
                        <label for="completadas">Completadas</label>
                        <input type="radio" id="completadas" name="filtro" value="1">
                    </div>
                    <div class="campo">
                        <label for="pendientes">Pendientes</label>
                        <input type="radio" id="pendientes" name="filtro" value="0">
                    </div>
                </div>
            </div>
        </main>

        <section class="informacion_tareas contenedor-m">
            <table>
                <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Fecha Inicio</th>
                    <th scope="col">Fecha Fin</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Administrar</th>
                </tr>
                </thead>
                <tbody class="tbody">

                </tbody>
            </table>
        </section>
    </div>
</div>
<script src="../js/administrador/admi.js"></script>
</body>
</html>