<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dudas sobre el Voluntariado</title>
  <link rel="stylesheet" th:href="@{/css/style.css}"> <!-- Incluye tu hoja de estilos aquí -->
</head>

<body>

<!-- Incluir la barra de navegación -->
<div th:replace="fragments/navbar :: navbar"></div>

<main class="informacion__testimonioAngBlog contenedor-m">
  <h1>¿Tienes dudas sobre el voluntariado?</h1>
  <p>¡No te preocupes! Sabemos que tomar la decisión de unirse a un equipo de voluntariado es importante. En nuestro blog, encontrarás historias inspiradoras, actualizaciones sobre nuestros proyectos y detalles sobre cómo puedes contribuir. Explora nuestras publicaciones para conocer mejor nuestro trabajo y descubrir cómo puedes marcar una diferencia.</p>
</main>

<div class="contenedor-m seccion">
  <section class="testimonialesAndblog__blog">
    <h3>Historias recientes</h3>
    <article class="testimonialesAndblog__entrada">
      <div class="testimonialesAndblog__imagen">
        <img loading="lazy" th:src="@{/images/card1.jpg}" alt="Historia Post viaje">
      </div>
      <div class="testimonialesAndblog__text">
        <h4>Historia Post viaje</h4>
        <a href="">
          <p class="texto-fluido__autor">Escrito el: <span>20/10/2024</span> por: <span>Juan Pablo</span></p>
          <p class="texto-fluido__blog">Definitivamente una grata experiencia haber colaborado con este gran grupo de trabajo, mucha suerte!</p>
        </a>
      </div>
    </article> <!--artículo 1-->
    <article class="testimonialesAndblog__entrada">
      <div class="testimonialesAndblog__imagen">
        <img loading="lazy" th:src="@{/images/card2.jpg}" alt="Trabajo de voluntarios">
      </div>
      <div class="testimonialesAndblog__text">
        <h4>Trabajo de voluntarios</h4>
        <a href="">
          <p class="texto-fluido__autor">Escrito el: <span>20/10/2024</span> por: <span>Marco Gutierres</span></p>
          <p class="texto-fluido__blog">Probablemente el mejor equipo de trabajo voluntario que tuve, una experiencia muy bonita en todo sentido.</p>
        </a>
      </div>
    </article> <!--artículo 2-->
  </section>
</div>

<!-- Incluir el fragmento del footer -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
